<html>
	<head>
		
	</head>
	<body>
		Friend list<br>
		<table>
			<th>username</th>
			<th>First Name</th>
			<th>Last Name</th>
		{% for line in friendList %}
			<tr>
				<td>{{line.username}}</td>
				<td>{{line.fname}}</td>
				<td>{{line.lname}}</td>

			</tr>
		{% endfor %}
	</table>

	<br>
	<br>
	<br>


		Here are your pending friend requests:

		<table>
			<th>username</th>
			<th>First Name</th>
			<th>Last name</th>
			<th>requestSentBy</th>

		{% for line in friendsRequest %}
			<tr>
				<td>{{line.username}}</td>
				<td>{{line.fname}}</td>
				<td>{{line.lname}}</td>
				<td>{{line.requestSentBy}}</td>
			</tr>
		{% endfor %}
	</table>
	<br><br>

	Type the username you want to Accept as friends:
	<form action="/accept" method="POST">
		<input type="text" name="acceptUserName" placeholder="username" /> <br>
		<input type="submit" value="Submit" />
		{% if error1 %}
		<p class="error"><strong>Error:</strong> {{error1}}</p>
		{% endif %}
		</form>

	Type the username you want to reject as friends:
	<form action="/reject" method="POST">
		<input type="text" name="rejectUserName" placeholder="username" /> <br>
		<input type="submit" value="Submit" />
		{% if error2 %}
		<p class="error"><strong>Error:</strong> {{error2}}</p>
		{% endif %}

		</form>

	Type the username you want to send the friend request:
	<form action="/friendRequest" method="POST">
		<input type="text" name="requestUserName" placeholder="username" /> <br>
		<input type="submit" value="Submit" />
		{% if error3 %}
		<p class="error"><strong>Error:</strong> {{error3}}</p>
		{% endif %}

		</form>

	

	Type the username you want to unfriend:
	<form action="/unfriend" method="POST">
		<input type="text" name="name" placeholder="username" /> <br>
		<input type="submit" value="Submit" />
		{% if error4 %}
		<p class="error"><strong>Error:</strong> {{error4}}</p>
		{% endif %}
	</form>

	
	<br>
	<br>
	<a href="/home">Go back</a>
	</body>
</html>


